<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>

<% end %>

<h1>Books</h1>
<!-- 一覧表 -->
<table width="40%">
  <tr>
    <th width="20%">Title</th>
    <th width="40%">Body</th>
    <th width="20%">    </th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>

    <td>
      <%= link_to "Show", book_path(book.id) %>
      <%= link_to "Edit",edit_book_path(book.id),method: :get %>
      <%= link_to "Destroy",book_path(book.id),method: :delete, data: { confirm: "Are you sure？" } %>
    </td>
  </tr>
    <% end %>
  
  </table>

<!-- 投稿box -->
  <h2>New book</h2>
  <%= form_with model: @books,url: '/books',method: :post do |f| %>


  <% if @book.errors.any? %>
  <div class="error-box">
    <h4><%= @book.errors.count %> errors prohibited this book from being saved:</h4>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
   </div>
  
  <div class="new">
    <p class="new-text">Title</p>
    <%= f.text_field :title %>
  </div>
  <div class="new">
    <p class="new-text">Body</p>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>
  <% end %>